; Specify default registry settings
package-lock=false
always-auth=true
//registry.npmjs.org/:always-auth=false
//registry.npmjs.org/:auth=false
//registry.npmjs.org/:ca=null
//registry.npmjs.org/:cafile=undefined

; Scoped registries
@selerix:registry=https://tfs.office.selerix.com/tfs/Development/_packaging/Selerix/npm/registry/

; Treat this auth token like a password. Do not share it with anyone, including Microsoft support. This token expires on or before 11/23/2022.
; begin auth token
//tfs.office.selerix.com/tfs/Development/_packaging/Selerix/npm/registry/:username=Selerix
//tfs.office.selerix.com/tfs/Development/_packaging/Selerix/npm/registry/:_password=a2VrdzI2dnlpeTJ0NWZwbmRhZ21kbHRrcDRndnNsZ3dlcnhmNnZsajRqam9iNDd4M3Y2YQ==
//tfs.office.selerix.com/tfs/Development/_packaging/Selerix/npm/registry/:email=npm requires email to be set but doesn't use the value
//tfs.office.selerix.com/tfs/Development/_packaging/Selerix/npm/:username=Selerix
//tfs.office.selerix.com/tfs/Development/_packaging/Selerix/npm/:_password=a2VrdzI2dnlpeTJ0NWZwbmRhZ21kbHRrcDRndnNsZ3dlcnhmNnZsajRqam9iNDd4M3Y2YQ==
//tfs.office.selerix.com/tfs/Development/_packaging/Selerix/npm/:email=npm requires email to be set but doesn't use the value
; end auth token